.embla {
      padding: 1.6rem;
      overflow: hidden;

      &__container {
            display: flex;
            flex-direction: row;
            height: auto;
      }

      &__slide {
            flex: 0 0 70%;
            min-width: 0;
            overflow: hidden;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 5vw;
            position: relative;

            &__img {
                  display: block;
                  width: 100%;
                  object-fit: cover;
            }

            &__title {
                  display: flex;
                  position: absolute;
                  bottom: 2.5%;
                  @include blur(2vw);
                  left: 10%;
                  width: 80%;
                  height: 20%;
                  text-align: center;

                  h2 {
                        @include fontLato(400, 4.5vw, white);
                        margin: auto;
                  }

            }

            &__average {
                  position: absolute;
                  @include blur(2vw);
                  top: 5%;
                  right: 5%;
                  display: flex;
                  flex-direction: column;
                  width: 25%;
                  height: 12%;
                  padding: 2%
            }

            &--subtitle {
                  @include fontLato(400, 2vw, white);
                  margin: 5%;
            }

            &--noteAndStar {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
            }

            &--note {
                  @include fontLato(400, 3.5vw, white);
                  margin-left: 5%;
            }
      }
}

.carousel {
      display: flex;
      flex-direction: column;

      &__title {
            margin-top: 5%;
            @include fontLato(400, 6.5vw, white);
            margin-left: 5%;
      }
}

// .movieScale:nth-of-type(2) {
//       transform: scale(1.1);
// }