.embla {
      padding: 1.6rem;
      overflow: hidden;

      &__container {
            display: flex;
            flex-direction: row;
            height: auto;
      }

      &__slide {
            flex: 0 0 70%;
            min-width: 0;
            overflow: hidden;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 5vw;
            position: relative;

            &__img {
                  display: block;
                  width: 100%;
                  object-fit: cover;
            }

            &__title {
                  display: flex;
                  position: absolute;
                  bottom: 2.5%;
                  @include blur(2vw);
                  left: 10%;
                  width: 80%;
                  height: 20%;
                  text-align: center;

                  h2 {
                        @include fontLato(400, 4.5vw, white);
                        margin: auto;
                  }

            }

            &__average {
                  position: absolute;
                  @include blur(2vw);
                  top: 5%;
                  right: 5%;
                  display: flex;
                  flex-direction: column;
                  width: 25%;
                  height: 12%;
                  padding: 2%
            }

            &--subtitle {
                  @include fontLato(400, 2vw, white);
                  margin: 5%;
            }

            &--noteAndStar {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
            }

            &--note {
                  @include fontLato(400, 3.5vw, white);
                  margin-left: 5%;
            }
      }
}

.carousel {
      display: flex;
      flex-direction: column;

      &__title {
            margin-top: 5%;
            @include fontLato(400, 6.5vw, white);
            margin-left: 5%;
      }
}

// .movieScale:nth-child(2) {
//       transform: scale(1.1);
// }

@media screen and (min-width: 481px) and (max-width: 768px) {
      .embla {
            padding: 4rem;
            margin-top: -8%;
            margin-bottom: 3%;

            &__slide {
                  flex: 0 0 60%;
                  margin-left: 4%;
                  margin-right: 4%;
                  border-radius: 4vw;

                  &__title {
                        @include blur(1.5vw);

                        h2 {
                              @include fontLato(400, 3.5vw, white);
                        }
                  }

                  &__average {
                        @include blur(1.5vw);
                  }

                  &--subtitle {
                        @include fontLato(400, 1.5vw, white);
                  }

                  &--note {
                        @include fontLato(400, 2.5vw, white);
                  }
            }
      }

      .carousel {
            &__title {
                  margin-top: 4%;
                  @include fontLato(400, 4.5vw, white);
            }
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .embla {
            padding: 4rem;
            margin-top: -3%;
            margin-bottom: 3%;

            &__slide {
                  flex: 0 0 50%;
                  margin-left: 4%;
                  margin-right: 4%;
                  border-radius: 4vw;

                  &__title {
                        @include blur(1.5vw);

                        h2 {
                              @include fontLato(400, 3vw, white);
                        }
                  }

                  &__average {
                        @include blur(1.5vw);
                  }

                  &--subtitle {
                        @include fontLato(400, 1.5vw, white);
                  }

                  &--note {
                        @include fontLato(400, 2.5vw, white);
                  }
            }
      }

      .carousel {
            &__title {
                  margin-top: 4%;
                  @include fontLato(400, 4.5vw, white);
            }
      }
}

@media screen and (min-width: 1025px) {
      .carousel {
            &__title {
                  margin-top: 2%;
                  margin-left: 10%;
                  @include fontLato(400, 2vw, white);
            }
      }

      .trendingDesktop {
            margin-left: 10%;
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__slide {
                  margin: 2%;
                  width: 20%;
                  position: relative;

                  &__img {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 1vw;
                  }

                  &__title {
                        display: flex;
                        position: absolute;
                        bottom: 2.5%;
                        @include blur(1vw);
                        left: 10%;
                        width: 80%;
                        height: 13%;
                        text-align: center;

                        h2 {
                              @include fontLato(400, 1.3vw, white);
                              margin: auto;
                        }

                  }

                  &__average {
                        position: absolute;
                        @include blur(1vw);
                        top: 2.5%;
                        right: 2.5%;
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        height: 12%;
                        padding: 2%;
                  }

                  &--subtitle {
                        @include fontLato(400, 0.5vw, white);
                        margin: 5%;
                  }

                  &--noteAndStar {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                  }

                  &--note {
                        @include fontLato(400, 1vw, white);
                        margin-left: 5%;
                  }
            }
      }
}