.childrenGenre {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 47% auto 20%;

      &__link {
            width: 45%;
            margin: 2.5%;
            text-decoration: none;

            &__img {
                  width: 100%;
                  border-radius: 6vw;
            }

            &__title {
                  @include fontLato(400, 4vw, white);
                  text-align: center;

                  &--gray {
                        color: $grayText;
                  }
            }
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .childrenGenre {
            margin: 30% auto 10%;

            &__link {
                  width: 40%;
                  margin: 5%;
                  text-decoration: none;

                  &__img {
                        border-radius: 4vw;
                  }

                  &__title {
                        @include fontLato(400, 3vw, white);
                  }
            }
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .childrenGenre {
            margin: 30% auto 10%;

            &__link {
                  width: 40%;
                  margin: 5%;
                  text-decoration: none;

                  &__img {
                        border-radius: 4vw;
                  }

                  &__title {
                        @include fontLato(400, 3.5vw, white);
                  }
            }
      }
}

@media screen and (min-width: 1025px) {
      .childrenGenre {
            margin: 15% 5% 5% 5%;

            &__link {
                  width: 20%;

                  &__img {
                        width: 100%;
                        border-radius: 2vw;
                  }

                  &__title {
                        @include fontLato(400, 1vw, white);
                        text-align: center;

                  }
            }
      }
}