.collection {
      width: 100%;

      &__embla {
            padding: 1rem;
            overflow: hidden;

            &__container {
                  display: flex;
                  flex-direction: row;
                  height: auto;
            }

            &__slide {
                  flex: 0 0 60%;
                  min-width: 0;
                  position: relative;
                  overflow: hidden;
                  margin-left: 5%;
                  margin-right: 5%;
            }
      }

      &__link {
            text-decoration: none;
            margin-bottom: 10%;

            &__img {
                  width: 100%;
                  border-radius: 5vw;
            }

            &__title {
                  @include fontLato(400, 3.5vw, white);
                  text-align: center;
            }
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .collection {

            &__embla {

                  &__slide {
                        flex: 0 0 50%;
                        margin-left: 3%;
                        margin-right: 3%;
                  }
            }

            &__link {
                  margin-bottom: 7%;

                  &__img {
                        border-radius: 4vw;
                  }

                  &__title {
                        @include fontLato(400, 2.5vw, white);
                  }
            }
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .collection {

            &__embla {

                  &__slide {
                        flex: 0 0 50%;
                        margin-left: 3%;
                        margin-right: 3%;
                  }
            }

            &__link {
                  margin-bottom: 7%;

                  &__img {
                        border-radius: 4vw;
                  }

                  &__title {
                        @include fontLato(400, 2.5vw, white);
                  }
            }
      }
}

@media screen and (min-width: 1025px) {
      .collection {

            &__embla {
                  padding: 1rem;

                  &__slide {
                        flex: 0 0 30%;
                        min-width: 0;
                        margin-left: 1%;
                        margin-right: 1%;
                  }
            }

            &__link {
                  text-decoration: none;
                  margin-bottom: 1%;

                  &__img {
                        width: 100%;
                        border-radius: 2vw;
                  }

                  &__title {
                        @include fontLato(400, 1.5vw, white);
                        text-align: center;
                  }
            }
      }
}