.header {
      display: flex;
      justify-content: space-between;
      margin: 5%;
      margin-bottom: 8%;

      &__title {
            @include fontLato(400, 7vw, white);

            &--color {
                  @include gradientText;
            }
      }

      &__logo {
            width: 10%;
      }
}