.header {
      display: flex;
      justify-content: space-between;
      margin: 5%;
      margin-bottom: 8%;

      &__title {
            @include fontLato(400, 7vw, white);

            &--color {
                  @include gradientText;
            }
      }

      &__logo {
            width: 10%;
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .header {
            margin: 4%;
            margin-bottom: 5%;

            &__title {
                  @include fontLato(400, 4vw, white);
            }

            &__logo {
                  width: 8%;
            }
      }
}