.navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 1%;
      width: 100%;
      z-index: 5;
}

.active path {
      fill: url(#gradient);
}