@keyframes anim {
      to {
            width: 35%;
      }
}

.navGenre {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: scroll;

      &__link {
            margin-left: 5%;
            @include fontLato(400, 5vw, white);
            text-decoration: none;
            position: relative;
      }

      .active {
            @include gradientText;

            &::after {
                  content: "";
                  position: absolute;
                  @include gradient;
                  width: 0%;
                  height: 0.5vw;
                  bottom: 35%;
                  left: 0;
                  animation: anim 0.6s ease-in-out forwards;
            }
      }
}