.navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0%;
      width: 100%;
      z-index: 5;
      background-color: #15141F;
      padding: 5%;
}

.active path {
      fill: url(#gradient);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .navigation {
            width: 100%;
            height: 8%;
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .navigation {
            width: 100%;
            height: 7%;
      }
}