@keyframes anim {
      to {
            width: 35%;
      }
}

.navGenre {
      display: flex;
      flex-direction: row;
      width: 95%;
      height: 5vh;
      overflow: scroll;

      &__link {
            margin-left: 5%;
            @include fontLato(400, 4vw, white);
            text-decoration: none;
            position: relative;
            white-space: nowrap;
      }

      .active {
            @include gradientText;

            &::after {
                  content: "";
                  position: absolute;
                  @include gradient;
                  width: 0%;
                  height: 0.5vw;
                  bottom: 35%;
                  left: 0;
                  animation: anim 0.6s ease-in-out forwards;
            }
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .navGenre {

            &__link {
                  margin-left: 4%;
                  @include fontLato(400, 3.5vw, white);
            }

            .active {

                  &::after {
                        height: 0.4vw;
                        bottom: 30%;
                  }
            }
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .navGenre {

            &__link {
                  margin-left: 4%;
                  @include fontLato(400, 3.5vw, white);
            }

            .active {

                  &::after {
                        height: 0.4vw;
                        bottom: 30%;
                  }
            }
      }
}

@media screen and (min-width: 1025px) {
      .navGenre {
            width: 95%;
            height: 7vh;
            margin-left: 5%;
            margin-right: 5%;

            &__link {
                  margin-left: 2%;
                  @include fontLato(400, 1.5vw, white);
            }

            .active {
                  @include gradientText;

                  &::after {

                        height: 0.15vw;
                        bottom: 30%;

                  }
            }
      }
}