.navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0%;
      width: 100%;
      z-index: 5;
      background-color: #15141F;
      padding: 5%;
}

.active path {
      fill: url(#gradient);
}