.searchBar {
      margin-bottom: 5%;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 5vh;


      &__button {
            width: 10%;
            height: 100%;
            background-color: $darkBlue;
            border: none;
            padding: auto;
            border-radius: 3vw 0 0 3vw;
      }

      &__input {
            @extend .searchBar__button;
            width: 60%;
            padding-left: 2%;
            @include fontInter(4vw, #BBBBBB);
            border-radius: 0 3vw 3vw 0;
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .searchBar {
            margin-bottom: 4%;


            &__button {
                  border-radius: 2vw 0 0 2vw;
            }

            &__input {
                  @include fontInter(3vw, #BBBBBB);
                  border-radius: 0 2vw 2vw 0;
                  width: 50%;
            }
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .searchBar {
            margin-bottom: 4%;


            &__button {
                  border-radius: 2vw 0 0 2vw;
            }

            &__input {
                  @include fontInter(3vw, #BBBBBB);
                  border-radius: 0 2vw 2vw 0;
                  width: 50%;
            }
      }
}

@media screen and (min-width: 1025px) {
      .searchBar {
            margin-bottom: 2.5%;
            margin-left: 10%;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            height: 5vh;


            &__button {
                  width: 5%;
                  height: 100%;
                  border-radius: 1vw 0 0 1vw;
            }

            &__input {
                  width: 15%;
                  @include fontInter(1vw, #BBBBBB);
                  border-radius: 0 1vw 1vw 0;
            }
      }
}