.spotlight {
      width: 85%;
      margin: auto;

      &__link {
            text-decoration: none;
      }

      &__picture {
            width: 100%;
            margin: auto;
            border-radius: 7vw;
      }

      &__titles {
            &--play {
                  // @include gradient;
            }

            &--subtitle {}

            &--movie {}
      }
}