.spotlight {
      width: 85%;
      margin: auto;
      position: relative;

      &__link {
            text-decoration: none;
      }

      &__picture {
            width: 100%;
            margin: auto;
            border-radius: 7vw;
      }

      &__titles {
            position: absolute;
            display: flex;
            width: 60%;
            height: 30%;
            @include blur(4vw);
            bottom: 5%;
            left: 2.5%;

            &--play {
                  width: 30%;
                  margin: auto;
            }

            &--display {
                  display: flex;
                  flex-direction: column;
                  width: 70%;
            }

            &--subtitle {
                  @include fontLato(400, 3.5vw, $grayText);
                  margin-top: 5%;
            }

            &--movie {
                  @include fontLato(400, 4.5vw, white);
                  margin-top: 2.5%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
            }
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .spotlight {
            width: 75%;

            &__picture {

                  border-radius: 5vw;
            }

            &__titles {
                  @include blur(3vw);

                  &--subtitle {
                        @include fontLato(400, 2.5vw, $grayText);
                  }

                  &--movie {
                        @include fontLato(400, 4vw, white);
                  }
            }
      }
}