//Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato:wght@400;700&display=swap');

//Variables
$grayIcons : #DADADA;
$grayText : #BCBCBC;

//Mixins
@mixin gradient () {
      background: linear-gradient(244.07deg, #FF8F71 47.24%, #EF2D1A 120.34%);
}

@mixin gradientText() {
      background: linear-gradient(244.07deg, #FF8F71 47.24%, #EF2D1A 120.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

@mixin blur ($radius) {
      background: rgba(218, 218, 218, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      border-radius: $radius;
      border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin fontLato ($weight, $size, $color) {
      font-weight: $weight;
      font-size: $size;
      color: $color;
      font-family: 'Lato', sans-serif;
}

@mixin fontInter ($size, $color) {
      font-weight: 500;
      font-size: $size;
      color: $color;
      font-family: 'Inter', sans-serif;
}

//Reset
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      color: white;
}

body {
      background-color: #15141F;
}

li {
      list-style-type: none;
}