.showFilm {
      &__iconArrow {
            position: absolute;
            top: 2%;
            left: 2%;
            border: none;
            background-color: rgba(250, 240, 202, 0);
      }

      &__poster {
            width: 100%;
            position: fixed;
            z-index: -1;
            top: 0;
      }

      &__divAll {
            margin-top: 65vh;
            background-color: $background;
            padding: 5%;

            &__title {
                  @include fontLato(500, 6.5vw, white);
                  margin-bottom: 5%;
            }
      }

      &__timeAndNote {
            display: flex;
            flex-direction: row;
            margin-bottom: 5%;
            position: relative;

            &--text {
                  @include fontLato(400, 3vw, $grayText);
                  margin-left: 2%;
                  margin-right: 10%;
            }

            &::after {
                  content: "";
                  background-color: #515151;
                  opacity: 0.5;
                  width: 95%;
                  position: absolute;
                  height: 0.2vw;
                  bottom: -75%;
            }
      }

      &__dateAndGenre {
            margin-top: 10%;
            display: flex;
            margin-bottom: 10%;
            position: relative;

            &__date {
                  display: flex;
                  flex-direction: column;
                  width: 40%;

                  &--text {
                        @include fontLato (400, 3vw, $grayText);
                  }
            }

            &--title {
                  @include fontLato(500, 5vw, white);
                  margin-bottom: 7%;
            }

            &__genre {
                  @extend .showFilm__dateAndGenre__date;
                  width: 60%;

                  &--allLink {
                        display: flex;
                        flex-direction: row;
                        overflow: scroll;
                        white-space: nowrap;
                  }

                  &--link {
                        @extend .showFilm__dateAndGenre__date--text;
                        text-decoration: none;
                        margin-right: 5%;
                        @include blur(5vw);
                        border: 0.3vw solid rgba(250, 240, 202, 0.05);
                        background-color: $background;
                        padding: 3%;
                  }
            }

            &::after {
                  content: "";
                  background-color: #515151;
                  opacity: 0.5;
                  width: 95%;
                  position: absolute;
                  height: 0.2vw;
                  bottom: -50%;
            }
      }

      &__synopsis {
            margin-top: 15%;
            margin-bottom: 7%;

            &--title {
                  @include fontLato(500, 5vw, white);
                  margin-bottom: 5%;
            }

            &--text {
                  @include fontLato (400, 3.5vw, $grayText);
            }
      }

      &__video {
            margin-bottom: 7%;

            &--title {
                  @include fontLato(500, 5vw, white);
                  margin-bottom: 5%;
            }
      }

      &__collection {
            &--title {
                  @include fontLato(500, 5vw, white);
                  margin-bottom: 5%;
            }
      }

      &__related {
            &--title {
                  @include fontLato(500, 5vw, white);
                  margin-bottom: 5%;
            }
      }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
      .showFilm {

            &__divAll {
                  margin-top: 83vh;
                  padding: 4%;

                  &__title {
                        @include fontLato(500, 5.5vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__timeAndNote {
                  margin-bottom: 4%;

                  &--text {
                        @include fontLato(400, 2.5vw, $grayText);
                  }

                  &::after {
                        bottom: -100%;
                  }
            }

            &__dateAndGenre {
                  margin-top: 7%;
                  margin-bottom: 7%;

                  &__date {

                        &--text {
                              @include fontLato (400, 2.5vw, $grayText);
                        }
                  }

                  &--title {
                        @include fontLato(500, 4vw, white);
                  }

                  &__genre {

                        &--link {
                              @include blur(4vw);
                              border: 0.2vw solid rgba(250, 240, 202, 0.05);
                              background-color: $background;
                        }
                  }

                  &::after {
                        bottom: -25%;
                  }
            }

            &__synopsis {
                  margin-top: 10%;
                  margin-bottom: 5%;

                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }

                  &--text {
                        @include fontLato (400, 3vw, $grayText);
                  }
            }

            &__video {
                  margin-bottom: 5%;

                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__collection {
                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__related {
                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
      .showFilm {

            &__divAll {
                  margin-top: 85vh;
                  padding: 4%;

                  &__title {
                        @include fontLato(500, 5.5vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__timeAndNote {
                  margin-bottom: 4%;

                  &--text {
                        @include fontLato(400, 2.5vw, $grayText);
                  }

                  &::after {
                        bottom: -100%;
                  }
            }

            &__dateAndGenre {
                  margin-top: 7%;
                  margin-bottom: 7%;

                  &__date {

                        &--text {
                              @include fontLato (400, 2.5vw, $grayText);
                        }
                  }

                  &--title {
                        @include fontLato(500, 4vw, white);
                  }

                  &__genre {

                        &--link {
                              @include blur(4vw);
                              border: 0.2vw solid rgba(250, 240, 202, 0.05);
                              background-color: $background;
                        }
                  }

                  &::after {
                        bottom: -25%;
                  }
            }

            &__synopsis {
                  margin-top: 10%;
                  margin-bottom: 5%;

                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }

                  &--text {
                        @include fontLato (400, 3vw, $grayText);
                  }
            }

            &__video {
                  margin-bottom: 5%;

                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__collection {
                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

            &__related {
                  &--title {
                        @include fontLato(500, 4vw, white);
                        margin-bottom: 4%;
                  }
            }

      }
}